{% extends _layout %}

{% block CONTENT %}

	<div class="page-title">
		<div>
		  <h1><i class="fa fa-download"></i> Load post from page</h1>
		</div>
		<div>
		  <ul class="breadcrumb">
			<li><i class="fa fa-home fa-lg"></i></li>
			<li><a href="/dashboard">Dashboard</a></li>
			<li>Load post from page</li>
		  </ul>
		</div>
	</div>
	<div class="card">
		
		<h3 class="card-title">Get token</h3>
		

		{% if not is_authenticated %}
			<p>Get Access Token Fail!</p>
		{% else %}
			<p>Get Access Token Success!</p>
		{% endif %}
		
	</div>
{% endblock %}