<!DOCTYPE html>
<html lang="vi">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Thiết kế website" />
        <meta name="author" content="thao31b@gmail.com" />
        
        <!-- css -->
        <link media="screen" href="{{ assets_folder }}/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% endblock %}
        <style type="text/css" media="screen">
            img{
                padding: 50px;
            }    
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row" style="text-align: center;">
                <img style="float: none;height: 80vh;" src="{{ site_url }}/system/images/upgrading.gif" alt="">
            </div>
        </div>
    </body>
</html>