{% extends _layout %}

{% block CONTENT %}
	<div class="page-title">
		<div>
		  <h1><i class="fa fa-exclamation-circle"></i> Error 403: Permission denied!</h1>
		</div>
		<div>
		  <ul class="breadcrumb">
			<li><a class="btn btn-sm btn-primary" href="javascript:window.history.back();"><i class="fa fa-undo"></i> Go Back</a></li>
		  </ul>
		</div>
	</div>
{% endblock %}
