{% extends _layout %}

{% block CONTENT %}

    <div class="page-title">
        <div>
            <h1><i class="fa fa-edit"></i> Add menu</h1>
            <p></p>
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="/dashboard/article">menu</a></li>
                <li>Add menu</li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <form id="terms_post" >
            <div class="col-md-9">

                <div class="card">
                    <div class="card-body">
                        <label class="control-label">Language</label>
                        <div class="form-group">
                            <div class="form-group form-group-sm">
                                <select name="post_language" class="form-control selectpicker post_language" data-live-search="true" >
                                {% for langs in languages %}
                                    {% if default_language == langs['language_code'] %}
                                        <option value="{{langs['language_code']}}" selected>{{langs['name']}}</option>
                                    {% else %}
                                        <option value="{{langs['language_code']}}">{{langs['name']}}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Menu name</label>
                            <input name="post_term_name" class="post_term_name form-control" type="text" placeholder="Menu title input here">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Menu acronym (Option)</label>
                            <input name="post_term_acronym" class="post_term_acronym form-control" type="text" placeholder="Menu acronym input here">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Hyperlink (Option)</label>
                            <input name="post_term_hyperlink" class="post_term_hyperlink form-control" type="text" placeholder="Menu hyperlink input here">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Menu slug</label>
                            <input name="post_term_slug" class="post_term_slug form-control" type="text" placeholder="Option you can custom your link">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Sort</label>
                            <input name="post_term_order" class="post_term_order form-control" type="text" placeholder="Option you can order the same type" value="50">
                        </div>

                        {# <div class="form-group">
                            <label class="control-label">Font icon</label>
                            <input name="post_font_icon" class="post_font_icon form-control" type="text" placeholder="Option you can custom icon use fontawesome">
                        </div> #}
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-title">SEO Options</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input name="post_seo_title" class="form-control post_seo_title" type="text"  maxlength="70">
                            <p>The title display in search engines is limited to 70 chars. If the SEO title is empty the title will be generated based on your title template in your SEO settings.</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea name="post_seo_description" class="form-control post_seo_description" rows="4" maxlength="140"></textarea>
                            <p>The meta description will be limited to 140 chars. If the meta description is empty the description 
                                will be generated based on your meta description options in your SEO settings.</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Keywords</label>
                            <input name="post_seo_keywords" class="post_seo_keywords form-control" type="text" maxlength="1000">
                            <p>Add search keywords and separate tags with commas (,).</p>
                        </div>
                    </div>
                </div>
                
            </div>
            {# end col-9 #}
            <div class="col-md-3">
                
                <div class="card">
                    <h5 class="card-title">Action</h5>

                    <div class="form-group">
                        <div id="loading_fa" class="">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                    <button id="submit_publish" status="publish" class="submit_term btn btn-primary icon-btn" type="button">
                    <i class="fa fa-paper-plane"></i> Create
                    </button>
                        {# <button id="submit_draft" status="draft" class="submit_term btn btn-default icon-btn" type="button">Save draft</button> #}

                    <div class="card-footer">
                        <div class="card-body">
                            <label class="control-label">Parent</label>
                            <div id="tree_term" class="form-group">
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

{% endblock %}


{% block SCRIPTS %}
<link rel="stylesheet" href="/grocery_crud/plugins/bootstrap-select/css/bootstrap-select.min.css">
<script type="text/javascript" src="/grocery_crud/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>>
<script type="text/javascript" src="/grocery_crud/plugins/datepicker/moment.min.js"></script>
<script type="text/javascript" src="/themes/backend/js/plugins/sweetalert.min.js"></script>
<script type="text/javascript" src="/themes/backend/js/plugins/bootstrap-typeahead.min.js"></script>
<link rel="stylesheet" href="/themes/backend/js/plugins/bootstrapvalidator/css/bootstrapValidator.min.css">
<script type="text/javascript" src="/themes/backend/js/plugins/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
<link rel="stylesheet" href="/themes/backend/js/plugins/gijgo/css/gijgo.min.css">
<script type="text/javascript" src="/themes/backend/js/plugins/gijgo/js/gijgo.min.js"></script>
<script type="text/javascript" src="/themes/backend/js/menu.js?v=2"></script>
<script type="text/javascript">
    var parent_selected = undefined;
    var disable_all = false;
</script>
{% endblock %}